{# blog/templates/blog/logout.html #}
{% extends 'blog/base.html' %}

{% block title %}Sessão Encerrada{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-4">
                <div class="card-body text-center">
                    <h2 class="card-title mb-4">Você saiu da sua conta.</h2>
                    <small class="text-muted">
                        <a href="{% url 'login' %}" class="btn btn-primary">Fazer Login Novamente</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}