{# blog/templates/blog/logout.html #}
{% extends 'blog/base.html' %}
{% load static %}

{% block title %}Sessão Encerrada{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-4">
                <div class="card-body text-center">
                    <h2 class="card-title mb-4">Você saiu da sua conta.</h2>
                    {# Altere a classe 'text-muted' para 'text-light' ou 'text-white' aqui #}
                    <small class="text-light">
                        <a href="{% url 'login' %}" class="btn btn-primary mt-3">Fazer Login Novamente</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}