{# blog/templates/blog/register.html #}
{% extends 'blog/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Registrar{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-4">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Registrar</h2>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary mt-3">Registrar</button>
                        </div>
                    </form>
                    {# Altere a classe 'text-muted' para 'text-light' ou 'text-white' aqui #}
                    <small class="text-light d-block text-center mt-3">
                        Já tem uma conta? <a href="{% url 'login' %}" class="text-info">Faça Login</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}